
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #bdc1c6;
    width: 100vw;
    font-family: 'Titillium Web', sans-serif;
}

section {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #3F1052;
    color: white;
    text-align: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    height: 7vh;
    width: 25vw;
}

.button-hover {
	background: rgba(226, 220, 230, 0.288);
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.active-button {
    border-bottom: 3px solid white;
    font-size: medium;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #3F1052;
    height: 15vh;
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px;
}

h3 {
    margin: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}
  
  
img {
    height: 40px;
    margin-right: 10px;
}

.matchCard {
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}

.matchCardTeamSeciton {
    display: flex;
    flex-direction: column;
    width: 25vw;
    justify-content: center;
    border-right: 1px solid black;
}

.teamRow {
    display: flex;
    flex-direction: row;
}

.matchCardTimeSeciton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    margin-left: 10px;
}

.hidden {
    display: none;
}

#teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.teamCard {
    width: 30vw;
    height: 45vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    flex-direction: column;
    margin: 10px;
}

.teamImage {
    margin-top: 10px;
    height: 25vh;
}

table {
    width: 80vw;
    background-color: rgb(44, 44, 44);
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
}

.lastFive {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
